/**
  * Name: Apex.uz 
  * Author: Apex of study
*/

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("woff");
}

 
  /* colors */
:root{
  --btn_bg_color: #00445B;
  --grey: #646464;
  --yellow: #FDB44B;
  --page_bg: #ECFEFA #BEE9FF #DBEAFF #F3DBFF;
  --card-bg: #ECFEFA;
  --footer-bg: #BEE9FF;

}


* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a{
  text-decoration: none!important;
}

a, button, input, select { 
  outline: none!important; 
}

button{
  border: none;
  background-color: var(--btn_bg_color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
}
button:hover{
  border: 1px solid #000000;
  background-color: var(--card-bg);
  color: #000000;
}

p, span{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--black);
}

ol, ul{ 
  list-style: none!important;
}
/*page_start*/

body {
  margin: 0;
  padding: 0;
}

#page{
  width: 100vw;
  padding: 32px 100px 150px;
  background: linear-gradient(124.06deg, #ECFEFA 9.47%, #BEE9FF 29.35%, #DBEAFF 60.79%, #F3DBFF 85.49%);

}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_menu{
  display: flex;
}

.menu-item:not(:last-child){
  margin-right: 30px;
}

.menu-item a{
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}


#banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.side-1{
  width: 620px;
  text-align: left;

}
.side-1 h1{
  margin: 0;
  font-family: "Montserrat";
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.02em;
  color: #000000;
}
.side-1 .banner-text{
  width: 80%;
}
.side-1 .banner-text p{
  margin: 20px 0 40px;
  font-family: "Montserrat";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #000000;
}
.side-1 .banner-btn{
  width: 234px;
  height: 65px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.side-2{
  width: 407px;
  position: relative;
}
.img-blur{
  height: 135px;
  width: 284px;
  position: absolute;
  bottom: -43px;
  right: 21px;
  background: #C7EAFF;
  filter: blur(15px);
  z-index: 10;
  -webkit-filter: blur(15px);
}



.carousel{
  margin-bottom: 120px;
}

.title{
  margin: 30px 0;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--btn_bg_color);
}

.slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 25px 0 0!important;
  position: static!important;
}




.slick-dots li {
  background-color: var(--grey);
  height: 4px!important;
  width: 35px!important;
  margin: 0 5px!important;
  padding: 0;
 
}
.slick-dots li.slick-active button {
  background-color: var(--btn_bg_color);
}
.slick-dots li button {
  margin: 0;
  padding: 0!important;
  height: 4px!important;
  width: 35px!important;
}
.slick-dots li button:before {
  display: none;
  margin: 0;
  padding: 0!important;
}


.card{
  margin: 0;
  padding-right: 30px;
}

.card_name{
  margin: 20px 0 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #000000;
}
.date, .get_info input::placeholder{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: var(--grey);

}



.card_body{
  width: 369px;
  background-color: var(--card-bg);
  padding: 37px;
}
.card_body .card_name{
  margin-top: 0!important;
}
.card_body .data{
  margin-top: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;

}
.card_body .btn{
  width: 100%;
  height: 46px;
  margin-top: 30px;
}


.teachers_card .card_body .card_name{
  margin-bottom: 20px;
}
.card_body .data{
  margin-top: 10px;
}


.all_photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo_card{
  margin: 15px 0;
}

.users_card{
  margin:0px!important;
  display: flex;
  flex-direction: column;
  justify-content: end!important;  
}

.users_card .card_body{
  height: 224px!important;
  position: relative;

}

.draggable{
  padding-top: 60px!important;
}
.users_card .card_body .card_name{
  margin-top: 55px!important;

}
.users_card .card_body .card_img{
  position: absolute;
  top: -25%;
  left: 129.5px;
  z-index: 10;
}

.ellipse-1{
  width: 110px;
}



.comments_card .card_body .data{
  margin: 20px 0!important;
  font-size: 13.9px!important;
}
.rating{
  display: flex;
}

.rating li:not(:last-child){
  margin-right: 3.5px;
}
.rating li{
  color: var(--yellow);
  width: 14.17px;
}


#location_section{
  margin-top: 150px;
}


.contacts_menu{
  width: 100%;
  height: 32px;
  margin: 30px 0 0;
  display: flex;
  justify-content: space-between;
}
.contacts_menu .menu-item{
  margin: 0;
}
.contacts_menu .menu-item:first-child{
  width: 280px;
}
.contacts_menu .menu-item:last-child{
  margin-right: 10px;
  display: flex;
}

#social_title, .social_icon{
  margin-right: 10px;
}


.contacts_menu .menu-item a, .social_networks_icons{
  display: flex;
}

.social_networks_icons li{
  width: fit-content!important;
  margin: 0!important;
}

.social_networks_icons li:not(:last-child){
  width: fit-content!important;
  margin: 0 20px 0 0!important;
}

.social-icon-mini{
  height: 17px;
}

#page_footer{
  background: var(--footer-bg);
  padding: 50px 100px;
  width: 100vw;

}
#page_footer .users_info .title{
  margin-top: 0!important;

}

.get_info{
  display: flex;
  justify-content: space-between;
  height: 46px;

}

.get_info input{
  padding: 15px;
  border: none;
  background: var(--card-bg);
  height: 100%;
  width: 269px;

}
.get_info input:first-child{
  width: 369px!important;
}
.get_info input::placeholder{
  color: #64646480!important;
}

.footer_btn{
  width: 169px;
  height: 100%;
}

.footer_bottom{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.line{
  height: 0px;
  width: 300px;
  border: 1px solid #00445B80;
  margin: 50px auto;
}

.bottom_logo{
  display: flex;
  align-items: center;
  margin-right: 140px;
}


.bottom_logo .logo_text{
  width: 170px;
  margin: 0 0 0 7px;
}
.bottom_logo .logo_text h4{
  margin: 0 0 10px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-align: center;
}

.bottom_logo .logo_text p{
  text-align: center;

}

.lisenzy p{
  font-weight: 300!important;
}
